<div id="container">
  <mat-toolbar id="navigation-bar" class="mat-primary">
    <a href="">{{href}}</a>
    <span>{{clock | date: 'HH' }} <span id="clock-separator">:</span> {{clock | date: 'mm'}}</span>
    <span><mat-icon>person</mat-icon>
      {{user}}</span>
  </mat-toolbar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar id="footer-bar" class="mat-primary">
    <span>{{title}}</span>
    <span>PRE-ALPHA Version 0.0.0</span>
    <span>&copy; René Elbracht 2023</span>
  </mat-toolbar>
</div>
