<mat-list *ngIf="cardGroupList.length !== 0">
  <mat-list-item class="clickable" *ngFor="let cardGroup of cardGroupList">
    <span matListItemTitle>{{cardGroup.groupName}}</span>
    <span matListItemMeta>identifier {{cardGroup.identifier}}</span>
    <span matListItemLine id="li-button-array">
      <button mat-raised-button><mat-icon>insert_chart_outlined</mat-icon>Statistics</button>
      <button mat-raised-button><mat-icon>settings</mat-icon>Edit</button>
      <button mat-raised-button (click)="openLearnViewOfSelectedCardGroup(cardGroup)"><mat-icon>play_arrow</mat-icon>Learn</button>
    </span>
  </mat-list-item>
</mat-list>

<div *ngIf="cardGroupList.length === 0" id="empty-list">
  <p>
    empty list of cardgroups!<br>
    add <span class="mat-raised-button">'New Group(s)'</span> to be displayed here.
  </p>
</div>

<div id="button-array">
  <button mat-raised-button class="mat-primary" (click)="openDialog()">
    <mat-icon>library_add</mat-icon>
    New Group
  </button>
</div>
