<div *ngIf="cardStack.length > 0" style="display: flex; justify-content: center; margin-top: 100px;">
  <p-card header="{{ card.question }}" subheader="{{ card.cardGroup.groupName }}" [style]="{ width: '100%' }">
    <hr>
    <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" placeholder="Your answer..."></textarea>
    <ng-template pTemplate="footer">
      <p-button label="Hint" icon="pi pi-info-circle" (onClick)="switchHint()"></p-button>
      <p-button label="Reveal" icon="pi pi-send" [style]="{ 'margin-left': '.5em' }"></p-button>
      <p-button *ngIf="selectedCardIndex < cardStack.length" label="Next Card" icon="pi pi-chevron-right" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }" (onClick)="cardGenerator()"></p-button>
      <p-button *ngIf="selectedCardIndex == cardStack.length" label="End Quiz" icon="pi pi-chevron-right" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }" (onClick)="endDialog()"></p-button>
    </ng-template>
  </p-card>
</div>

<p-messages *ngIf="showHint" [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>

<!-- TODO:
  - Kartenzahl 0 of 11
  - Aktuelle Erfolgsquote
  - Aktuelle Lernzeit
  - Reveal => Abgleich mit expected
  - Hint => Snackbar mit opt. Hint

  -> noch nicht revealed => Skip (zählt nicht zu Quote)
  -> revealed => Next Card
-->

<div *ngIf="cardStack.length == 0">
  <p>Selected CardGroup has no cards</p>
</div>
