<div [formGroup]="formGroup_CardGroup">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Group Name</mat-label>
    <input matInput #input formControlName="groupName" placeholder="E.g. Linear Algebra" type="text">
    <mat-hint align="end">Characters {{input.value.length}} of 3</mat-hint>
    <mat-error>Enter a name of at least 3 characters</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Creator</mat-label>
    <input matInput formControlName="creator" readonly>
  </mat-form-field>
</div>

<div id="button-array">
  <button mat-raised-button class="mat-primary" (click)="postCardGroupRequest(); close()"
          [disabled]="formGroup_CardGroup.invalid">Create
  </button>
  <button mat-raised-button class="mat-accent" (click)="close()">Close</button>
</div>
